In [1]:
#Dependencies

import pandas as pd

## Step 1 - Scraping

### Step 1 - NASA Mars News

### Step 1 - JRL Mars Space Images

### Step 1 - Mars Facts

In [2]:
#MARS FACTS Scrapes
url = 'https://space-facts.com/mars/'

In [3]:
#Returning a list of dataframes for any tabular data that Pandas found

tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [4]:
type(tables)

list

In [5]:
#Put into a DF so we can slice what we want with normal indexing

df = tables[1]
# df.columns = ['State', 'Abr.', 'State-hood Rank', 'Capital', 
#               'Capital Since', 'Area (sq-mi)', 'Municipal Population', 'Metropolitan', 
#               'Metropolitan Population', 'Population Rank', 'Notes']
df.head()

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

In [6]:
#Cleanup of Extra rows

# df = df.iloc[2:]
# df.head()

In [7]:
# Set index to any column we choose

# df.set_index('Mars', inplace=True)
# df.head()

In [8]:
# Select anything inside that index

# df.loc['mass']
# df.loc['moons']

In [9]:
# Convert the DF to HTML to generate HTML tables

# html_table = df.to_html()
# html_table

In [ ]:
#Ability to strip unwanted "newlines" to clean up the table

html_table.replace

### Step 1 - Mars Hemispheres

## Step 2 - Mongo DB and Flask Application